$colorShark: #1f2229;
$colorWhite: #ffffff;
$colorSlateGray: #7c8792;
$colorTorchRed: #ff2045;
$colorToryBlue: #164496;
$colorGallery: #ededed;
$colorDodgerBlue: #3fcbff;
$widthContainer: 1120px;
$gapSmall: 10px;

$tabletBreakpoint: 1024px;

@mixin flexCenter {
    display: flex;
    justify-content: center;
}

@mixin flexCenterCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexSpaceB {
    display: flex;
    justify-content: space-between;
}

@mixin flexAlighnC {
    display: flex;
    align-items: center;
}

@mixin flexSpaceBAlighnC {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flexColumnSpaceB {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin tablet {
    @media screen and (max-width: $tabletBreakpoint) {
        @content;
    }
}
